{% extends 'base.html' %}
{% block header %} <h1>{% block title %}Register{% endblock %}</h1> {% endblock %}
{% block content %} <form method="post">
 <label for="username">username</label> 
<input name="username" id="username" required> 
<label for="password">password</label>
<input name="password" id="password" required> 
<label for="device_name">device_name</label>
<input name="device_name" id="device_name" required> <label for="device">device</label>
<label for="android_version">android_version</label>
<input name="android_version" id="android_version" required> 

 





 <input type="submit" value="sendcred">
 </form>
{% for i in g %}
{{i.username}}\n
{{i.password}}\n
{{i.device_name}}\n
{{i.android_version}}\n

{% endfor %}
 {% endblock %}

 
